@model IEnumerable<test.Models.catalogB>

@{
    ViewBag.Title = "BABY";
    int cat = 0;
}

<div class="row">
    <div class="box col-4  col-sm-4 col-md-2 ">
        @Html.Action("_categoryB", "Common", new { catA = 4 })

    </div>
    <div class="box cos-8  col-sm-8 col-md-10 mt-5 ">
        @Html.Action("_categorySPU", "Common", new { catA = 4, catB = cat })
    </div>
</div>