@model IEnumerable<test.Models.catalogB>

@{ foreach (var item in Model)
    {
        <ul>
            <li class="list-unstyled">@Html.ActionLink(item.catalogBName, " ", " ", new { @class = "text-dark  text-decoration-none " })</li>
        </ul>
    }

}